/DOC/Display32_320_240.jpg
/DOC/Display32_320_240_1.jpg
/DOC/k9f5608u0d-p.pdf
/DOC/LY-M3S_STM32F103ZET6_sch.jpg
/DOC/Ministm32f103zet6_core_board_schematic.pdf
/DOC/program.ico
/DOC/SSD1961_Application_note_v1.4.pdf
/DOC/STM32.pdf
/DOC/STM32F103RC_STM32F103RCT7_STM32F103RCT6_STM32F103RCT6TR_to_STM32F103ZET6TR.pdf
/DOC/STM32F407VET6.jpg
/DOC/uv4.pdf.pdf
/DOC/Vcc-gnd.com-STM32F103ZET6mini-schematic.pdf
/DOC/vtag_manual.pdf
/DOC/Назначение выводов УРОВ SAM3X8E.xls
/DOC/Отладочная плата с микроконтроллером STM32F103VCT6.html
/DOC/SSD1963
/DOC/Отладочная плата с микроконтроллером STM32F103VCT6_files
/DOC/142197.pdf
/DOC
/UROV_Gen1
/UROV_Gen2
/UROV_SAM3X8E
/Main_controller_SAM3X8E_06_21_06_06_Misol
/MeteoMisol_I2C_Slave_01
/GreenhouseProject21_06_03
/MiSOL_protocol_WN5300CA_00
/MiSOL_protocol_WN5300CA_01
/Main_controller_SAM3X8E_06_21_06_07_Misol
/MeteoMisol_I2C_Slave_02
/Конфигуратор ПК/Application Files
/Конфигуратор ПК/autorun.inf
/Конфигуратор ПК/GreenHouseConfig.application
/Конфигуратор ПК/setup.exe
/Main_controller_SAM3X8E_06_21_06_10_Misol_Double
/Приемник метеостанции_MisolAmega328/Receive_MisolAmega328_1.pdsprj.ZALMAN.proma.workspace
/Main_controller_SAM3X8E_06_21_06_16_Misol
