/MAIN/libraries
/MAIN/.vs
/MAIN/__vm
/MAIN/MAIN.sln
/MAIN/MAIN.vcxproj
/MAIN/MAIN.vcxproj.filters
/MAIN/Debug
/DOC/Схемы модуля/UROV_Base4_1R.pdsprj.DECIMA.moseichuk.workspace
/DOC/Схемы модуля/UROV_display_ LGDP4524_1R.pdsprj.DECIMA.moseichuk.workspace
/DOC/Схемы модуля/UROV_4_2R.pdsprj.DECIMA.moseichuk.workspace
