/MAIN/.vs
/MAIN/__vm
/MAIN/MAIN.sln
/MAIN/MAIN.vcxproj
/MAIN/MAIN.vcxproj.filters
/MAIN/Debug
/DOC/Схемы модуля/UROV_Base4_1R.pdsprj.DECIMA.moseichuk.workspace
/DOC/Схемы модуля/UROV_display_ LGDP4524_1R.pdsprj.DECIMA.moseichuk.workspace
/DOC/Схемы модуля/UROV_4_2R.pdsprj.DECIMA.moseichuk.workspace
/MAIN/libraries/DueTimer
/MAIN/libraries/OneWire
/MAIN/libraries/SdFat
/MAIN/libraries/SdFatTestSuite
/MAIN/libraries
/DOC/Схемы модуля/UROV_4_2R.pdsprj.SUPER.Александр.workspace
/DOC/Схемы модуля/UROV_display_ LGDP4524_1R.pdsprj.SUPER.Александр.workspace
/DOC/Схемы модуля/Backup Of UROV_4_2R.pdsbak
/DOC/~$ на март.docx
/MeandrSAMD21G18A/.vs
/MeandrSAMD21G18A/__vm
/MeandrSAMD21G18A/Debug
/MeandrSAMD21G18A/MeandrSAMD21G18A.sln
/MeandrSAMD21G18A/MeandrSAMD21G18A.vcxproj
/MeandrSAMD21G18A/MeandrSAMD21G18A.vcxproj.filters

*.pdb

/LOGS
/MAIN
/MeandrSAMD21G18A
/MeandrSAMD21G18A_LoRa_Receiver
/SOFT
/Test_Interrupt
/UROV19_02
/DOC/Схемы формирователя сигналов
/DOC/LoRaSenderTestDima.ino
/DOC/Thumbs.db
/DOC/UROV_4_1.PDF
/DOC/UROV_display_ LGDP4524_1.PDF
/DOC/Лог 21_03_18.txt
/DOC/Пример клавиатуры.txt
/DOC/Программа по прерыванию.txt
/DOC/Список поддерживаемых команд.doc
/DOC/Структура меню УРОВ.txt
/DOC/Тестер SAMD21G18A.png
/DOC/ТЗ  на программное обеспечение  УРОВ.doc
/DOC/ТЗ на март.docx
/DOC/УРОВ верх.png
/DOC/УРОВ низ.png
/DOC/Перечень работ по программированию УРОВ.doc
