<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GreenHouseConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GreenHouseConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GreenHouseConfig.Properties.Settings>
            <setting name="Connect" serializeAs="String">
                <value>Соединить</value>
            </setting>
            <setting name="Connected" serializeAs="String">
                <value>Соединено</value>
            </setting>
            <setting name="WaitPortData" serializeAs="String">
                <value>Ждём данные из порта...</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>Ошибка</value>
            </setting>
            <setting name="WindowOpen" serializeAs="String">
                <value>открыты</value>
            </setting>
            <setting name="WindowClosed" serializeAs="String">
                <value>закрыты</value>
            </setting>
            <setting name="WindowOpening" serializeAs="String">
                <value>открываются</value>
            </setting>
            <setting name="WindowClosing" serializeAs="String">
                <value>закрываются</value>
            </setting>
            <setting name="NoData" serializeAs="String">
                <value>&lt;нет данных&gt;</value>
            </setting>
            <setting name="Manual" serializeAs="String">
                <value>ручной</value>
            </setting>
            <setting name="Automatic" serializeAs="String">
                <value>авто</value>
            </setting>
            <setting name="NotSelected" serializeAs="String">
                <value>&lt;не выбрано&gt;</value>
            </setting>
            <setting name="SettingsSaved" serializeAs="String">
                <value>Настройки успешно прописаны в контроллер!</value>
            </setting>
            <setting name="SaveSettings" serializeAs="String">
                <value>Запись настроек</value>
            </setting>
            <setting name="ErrorSaveSettings" serializeAs="String">
                <value>Запись настроек не удалась, повторите попытку ещё раз.</value>
            </setting>
            <setting name="Info" serializeAs="String">
                <value>Информация</value>
            </setting>
            <setting name="PhoneNumberHint" serializeAs="String">
                <value>Номер, команды с которого будут приниматься и обрабатываться.
Все входящие СМС с других номеров будут проигнорированы.</value>
            </setting>
            <setting name="IncomingNumber" serializeAs="String">
                <value>Входящий номер</value>
            </setting>
            <setting name="Off" serializeAs="String">
                <value>&lt;выключено&gt;</value>
            </setting>
            <setting name="WeekDays" serializeAs="String">
                <value>По дням недели (все каналы одновременно)</value>
            </setting>
            <setting name="Lux" serializeAs="String">
                <value> люкс</value>
            </setting>
            <setting name="StateOn" serializeAs="String">
                <value>&lt;вкл&gt;</value>
            </setting>
            <setting name="StateOff" serializeAs="String">
                <value>&lt;выкл&gt;</value>
            </setting>
            <setting name="Play" serializeAs="String">
                <value>Работа</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>Пауза</value>
            </setting>
            <setting name="PlayTooptip" serializeAs="String">
                <value>Продолжить общение с контроллером</value>
            </setting>
            <setting name="PauseTooltip" serializeAs="String">
                <value>Приостановить общение с контроллером</value>
            </setting>
            <setting name="WeekDaysChannels" serializeAs="String">
                <value>По дням недели (раздельное управление каналами)</value>
            </setting>
            <setting name="WeekDaysColumnText" serializeAs="String">
                <value>Дни недели</value>
            </setting>
            <setting name="NotSet" serializeAs="String">
                <value>&lt;не задано&gt;</value>
            </setting>
            <setting name="WeekDay1" serializeAs="String">
                <value>Понедельник</value>
            </setting>
            <setting name="WeekDay2" serializeAs="String">
                <value>Вторник</value>
            </setting>
            <setting name="WeekDay3" serializeAs="String">
                <value>Среда</value>
            </setting>
            <setting name="WeekDay4" serializeAs="String">
                <value>Четверг</value>
            </setting>
            <setting name="WeekDay5" serializeAs="String">
                <value>Пятница</value>
            </setting>
            <setting name="WeekDay6" serializeAs="String">
                <value>Суббота</value>
            </setting>
            <setting name="WeekDay7" serializeAs="String">
                <value>Воскресенье</value>
            </setting>
            <setting name="WiFiModeHelpTitle" serializeAs="String">
                <value>Режим работы Wi-Fi</value>
            </setting>
            <setting name="WiFiModeHelp" serializeAs="String">
                <value>В режиме "точка доступа" соединение 
с контроллером происходит напрямую.

В режиме "точка доступа + клиент" контроллер 
соединяется с вашей точкой доступа, и к нему 
можно подключиться через вашу точку доступа.</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>Подтверждение</value>
            </setting>
            <setting name="SetControllerTime" serializeAs="String">
                <value>В контроллер будет прописано текущее время 
с компьютера. Продолжить?</value>
            </setting>
            <setting name="PasswordTooShort" serializeAs="String">
                <value>Пароль к точке доступа должен быть не менее 8 символов длиной!</value>
            </setting>
            <setting name="AskWIFIIPCaption" serializeAs="String">
                <value>IP-адреса ESP</value>
            </setting>
            <setting name="WiFiBusy" serializeAs="String">
                <value>Модуль занят обработкой команд, повторите позднее.</value>
            </setting>
            <setting name="ErrorWiFiIP" serializeAs="String">
                <value>Не удалось получить данные от модуля Wi-Fi!</value>
            </setting>
            <setting name="WiFiIPFormat" serializeAs="String">
                <value>Адрес точки доступа модуля: {0}
Адрес, выданный роутером: {1}</value>
            </setting>
            <setting name="Confirmation" serializeAs="String">
                <value>Подтверждение</value>
            </setting>
            <setting name="ConfirmLoadRules" serializeAs="String">
                <value>При загрузке правил с контроллера все текущие
правила будут удалены. Продолжить?</value>
            </setting>
            <setting name="ErrorGetRules" serializeAs="String">
                <value>Не удалось получить список правил!</value>
            </setting>
            <setting name="RulesGetOk" serializeAs="String">
                <value>Правила успешно загружены из контроллера!</value>
            </setting>
            <setting name="RuleSpyTemplate" serializeAs="String">
                <value>за {0} модуля {1}</value>
            </setting>
            <setting name="SpyTemp" serializeAs="String">
                <value>температурой</value>
            </setting>
            <setting name="SpyLight" serializeAs="String">
                <value>освещенностью</value>
            </setting>
            <setting name="SpyHumidity" serializeAs="String">
                <value>влажностью</value>
            </setting>
            <setting name="OpenWindowsAction" serializeAs="String">
                <value>открываем окна</value>
            </setting>
            <setting name="CloseWindowsAction" serializeAs="String">
                <value>закрываем окна</value>
            </setting>
            <setting name="LightOnAction" serializeAs="String">
                <value>включаем досветку</value>
            </setting>
            <setting name="LightOffAction" serializeAs="String">
                <value>выключаем досветку</value>
            </setting>
            <setting name="YES" serializeAs="String">
                <value>да</value>
            </setting>
            <setting name="NO" serializeAs="String">
                <value>нет</value>
            </setting>
            <setting name="RulesMemoryTemplate" serializeAs="String">
                <value>Информация по занятой правилами памяти 
является приблизительной и предназначена 
только для справочных целей:

    1. В EEPROM занято: {0} байт;
    2. В RAM занято: {1} байт.</value>
            </setting>
            <setting name="DeleteSpecialRuleConfirmation" serializeAs="String">
                <value>Вы уверены, что хотите удалить служебное правило?

Служебные правила генерируются другими модулями
при редактировании их настроек, и удаление такого
правила может привести к неправильной работе конроллера.

Продолжить?</value>
            </setting>
            <setting name="AddRule" serializeAs="String">
                <value>Добавление нового правила</value>
            </setting>
            <setting name="EditRule" serializeAs="String">
                <value>Редактирование правила</value>
            </setting>
            <setting name="RulesLimitReached" serializeAs="String">
                <value>Превышен лимит кол-ва правил, добавление нового правила невозможно!</value>
            </setting>
            <setting name="TemperatureHint" serializeAs="String">
                <value>"%TO%" - взять температуру открытия из настроек.
"%TC%" - взять температуру закрытия из настроек.</value>
            </setting>
            <setting name="LightHint" serializeAs="String">
                <value>"-2" - работать без показаний с датчика освещенности, только по условиям времени.</value>
            </setting>
            <setting name="WindowsHint" serializeAs="String">
                <value>"ALL" - все форточки, "3" - форточка номер 4, "0-2" - форточки с первую по третью.</value>
            </setting>
            <setting name="PinHint" serializeAs="String">
                <value>"12", "9" - один пин, "2,3,4" - номера пинов через запятую.</value>
            </setting>
            <setting name="OnlyLatinLettersHint" serializeAs="String">
                <value>Только латинские буквы или цифры, пожалуйста.</value>
            </setting>
            <setting name="SpyNone" serializeAs="String">
                <value>ни за чем не следим</value>
            </setting>
            <setting name="PinOffAction" serializeAs="String">
                <value>выключаем пины</value>
            </setting>
            <setting name="PinOnAction" serializeAs="String">
                <value>включаем пины</value>
            </setting>
            <setting name="RuleName" serializeAs="String">
                <value>Имя правила</value>
            </setting>
            <setting name="EnterRuleName" serializeAs="String">
                <value>Пожалуйста, введите имя правила.</value>
            </setting>
            <setting name="RuleNameExists" serializeAs="String">
                <value>Правило с таким именем уже существует!</value>
            </setting>
            <setting name="EnterSpyData" serializeAs="String">
                <value>Введите показания, за которыми надо следить!</value>
            </setting>
            <setting name="EnterAdditionalParams" serializeAs="String">
                <value>Пожалуйста, введите дополнительные параметры!</value>
            </setting>
            <setting name="WhichWindows" serializeAs="String">
                <value>Какие форточки:</value>
            </setting>
            <setting name="PinNumbers" serializeAs="String">
                <value>Номера пинов:</value>
            </setting>
            <setting name="OpenWindows" serializeAs="String">
                <value>открыть форточки</value>
            </setting>
            <setting name="CloseWindows" serializeAs="String">
                <value>закрыть форточки</value>
            </setting>
            <setting name="LightOn" serializeAs="String">
                <value>включить досветку</value>
            </setting>
            <setting name="LightOff" serializeAs="String">
                <value>выключить досветку</value>
            </setting>
            <setting name="PinsOn" serializeAs="String">
                <value>включить пины МК</value>
            </setting>
            <setting name="PinsOff" serializeAs="String">
                <value>выключить пины МК</value>
            </setting>
            <setting name="StateModule" serializeAs="String">
                <value>Модуль показаний температуры</value>
            </setting>
            <setting name="HumidityModule" serializeAs="String">
                <value>Модуль показаний влажности</value>
            </setting>
            <setting name="LightModule" serializeAs="String">
                <value>Модуль показаний освещенности</value>
            </setting>
            <setting name="GreaterThan" serializeAs="String">
                <value>больше чем</value>
            </setting>
            <setting name="GreaterOrEqual" serializeAs="String">
                <value>больше, либо равны</value>
            </setting>
            <setting name="LessThan" serializeAs="String">
                <value>меньше чем</value>
            </setting>
            <setting name="LessOrEqual" serializeAs="String">
                <value>меньше, либо равны</value>
            </setting>
            <setting name="SpyDelta" serializeAs="String">
                <value>дельтой показаний датчиков</value>
            </setting>
            <setting name="DeltaModule" serializeAs="String">
                <value>Модуль дельты показаний датчиков</value>
            </setting>
            <setting name="SpyTemp2" serializeAs="String">
                <value>температур</value>
            </setting>
            <setting name="SpyHumidity2" serializeAs="String">
                <value>влажности</value>
            </setting>
            <setting name="SpyLight2" serializeAs="String">
                <value>освещенности</value>
            </setting>
            <setting name="SameDeltaExists" serializeAs="String">
                <value>Дельта с такими настройками уже существует!</value>
            </setting>
            <setting name="DeltaSameSensor" serializeAs="String">
                <value>Дельта между одним и тем же датчиком недопустима!</value>
            </setting>
            <setting name="DeltaSelectModules" serializeAs="String">
                <value>Выберите два модуля для создания дельты!</value>
            </setting>
            <setting name="DeltaLimitReached" serializeAs="String">
                <value>Превышен лимит кол-ва дельт, добавление новой дельты невозможно.</value>
            </setting>
            <setting name="NoneSelected" serializeAs="String">
                <value>Не выбрано</value>
            </setting>
            <setting name="SoilMoistureModule" serializeAs="String">
                <value>Модуль влажности почвы</value>
            </setting>
            <setting name="ChannelNo" serializeAs="String">
                <value>Канал #</value>
            </setting>
            <setting name="ChannelOn_OffIt" serializeAs="String">
                <value>: включен. Выключить!</value>
            </setting>
            <setting name="ChannelOff_OnIt" serializeAs="String">
                <value>: выключен. Включить!</value>
            </setting>
            <setting name="HTTPDataSaved" serializeAs="String">
                <value>Настройки для HTTP сервиса успешно сохранены!</value>
            </setting>
            <setting name="HTTPApiKeyLengthHint" serializeAs="String">
                <value>Длина ключа API - 32 символа, без пробелов!</value>
            </setting>
            <setting name="Litres" serializeAs="String">
                <value> л</value>
            </setting>
            <setting name="KiloLitresFormat" serializeAs="String">
                <value>{0} м3 {1} л</value>
            </setting>
            <setting name="Millilitres" serializeAs="String">
                <value> мл</value>
            </setting>
            <setting name="LitresFormat" serializeAs="String">
                <value>{0},{1,0:D2} л</value>
            </setting>
            <setting name="Luminosity" serializeAs="String">
                <value>освещённость</value>
            </setting>
            <setting name="Humidity" serializeAs="String">
                <value>влажность</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>температура</value>
            </setting>
            <setting name="SpySoilMoisture" serializeAs="String">
                <value>влажностью почвы</value>
            </setting>
            <setting name="SpyPinState" serializeAs="String">
                <value>За уровнем пина {0}</value>
            </setting>
            <setting name="RuleListDefaultHint" serializeAs="String">
                <value>Строка с командой выбранного правила</value>
            </setting>
            <setting name="Close" serializeAs="String">
                <value>закрыть</value>
            </setting>
            <setting name="Open" serializeAs="String">
                <value>открыть</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>dd.MM.yyyy
HH:mm:ss</value>
            </setting>
            <setting name="Minutes" serializeAs="String">
                <value> мин</value>
            </setting>
            <setting name="ReadingFile" serializeAs="String">
                <value>Вычитываем файл </value>
            </setting>
            <setting name="FilesReceived" serializeAs="String">
                <value>Получено файлов: </value>
            </setting>
            <setting name="SureToRestart" serializeAs="String">
                <value>Вы уверены, что хотите перезагрузить контроллер?</value>
            </setting>
            <setting name="CompositeCommandsSaved" serializeAs="String">
                <value>Составные команды успешно сохранены в контроллер!</value>
            </setting>
            <setting name="ModuleUpdated" serializeAs="String">
                <value>Модуль успешно обновлён!</value>
            </setting>
            <setting name="ModuleNotFound" serializeAs="String">
                <value>Модуль на линии регистрации 1-Wire не найден!</value>
            </setting>
            <setting name="ScratchTypeMismatch" serializeAs="String">
                <value>Несоответствие типов скратчпадов при обновлении модуля!</value>
            </setting>
            <setting name="UniNotSupported" serializeAs="String">
                <value>Линия регистрации универсальных модулей не поддерживается прошивкой!</value>
            </setting>
            <setting name="Register" serializeAs="String">
                <value>Зарегистрировать</value>
            </setting>
            <setting name="SaveData" serializeAs="String">
                <value>Сохранить</value>
            </setting>
            <setting name="ModuleNotRegistered" serializeAs="String">
                <value>Модуль найден,можно менять его настройки.</value>
            </setting>
            <setting name="ModuleAlreadyRegistered" serializeAs="String">
                <value>Модуль найден,можно менять его настройки.</value>
            </setting>
            <setting name="NextionModuleHint" serializeAs="String">
                <value>Дисплей Nextion не нуждается в регистрации в системе.</value>
            </setting>
            <setting name="ModuleWithUnknownType" serializeAs="String">
                <value>Найден неподдерживаемый системой тип модуля!</value>
            </setting>
            <setting name="NewSMSAdded" serializeAs="String">
                <value>Новое СМС успешно добавлено!</value>
            </setting>
            <setting name="SMSAddError" serializeAs="String">
                <value>Ошибка добавления СМС! Возможно, модуль SD-карты не указан в настройках прошивки.</value>
            </setting>
            <setting name="CompositeCommandsCleared" serializeAs="String">
                <value>Составные команды успешно очищены!</value>
            </setting>
            <setting name="CompositeCommandsClearError" serializeAs="String">
                <value>Ошибка очистки составных команд!</value>
            </setting>
            <setting name="CompositeCommandsClearConfirmation" serializeAs="String">
                <value>Вы уверены, что хотите очистить все составные команды в контроллере?</value>
            </setting>
            <setting name="WaterflowDataCleared" serializeAs="String">
                <value>Данные по расходу воды успешно сброшены!</value>
            </setting>
            <setting name="WaterflowClearConfirmation" serializeAs="String">
                <value>Вы уверены, что хотите сбросить показания счётчиков?</value>
            </setting>
            <setting name="InputPin" serializeAs="String">
                <value>вход</value>
            </setting>
            <setting name="OutputPin" serializeAs="String">
                <value>выход</value>
            </setting>
            <setting name="ThingSpeakEnterKey" serializeAs="String">
                <value>Пожалуйста, укажите ключ канала!</value>
            </setting>
            <setting name="ThingSpeakSelectHint" serializeAs="String">
                <value>Пожалуйста, выберите хотя бы один датчик!

Выбор датчиков осуществляется переносом датчиков 
из одного списка в другой, при помощи мыши.</value>
            </setting>
            <setting name="ThingSpeakTooManySensorsSelected" serializeAs="String">
                <value>Выбрано больше 8 датчиков! При нажатии ОК будут сохранены настройки для первых 8 выбранных датчиков. Продолжить?</value>
            </setting>
            <setting name="WidgetHideConfirmation" serializeAs="String">
                <value>Скрыть виджет?</value>
            </setting>
            <setting name="LCDDeleteSensor" serializeAs="String">
                <value>Вы уверены, что хотите удалить датчик с LCD-экрана?

Не забудьте, что после изменения настроек следует сохранить данные в контроллер нажатием кнопки "Сохранить данные".</value>
            </setting>
            <setting name="Sensor" serializeAs="String">
                <value>датчик</value>
            </setting>
            <setting name="RFScanNotSupported" serializeAs="String">
                <value>Прошивка не поддерживает сканирование каналов nRF.</value>
            </setting>
            <setting name="RulesLoadConfirmation" serializeAs="String">
                <value>При загрузке правил из файла текущий список будет перезаписан. Продолжить?</value>
            </setting>
            <setting name="RulesLoaded" serializeAs="String">
                <value>Правила успешно загружены из файла.</value>
            </setting>
            <setting name="RulesSaved" serializeAs="String">
                <value>Правила успешно сохранены в выбранный файл.</value>
            </setting>
            <setting name="RulesSaveError" serializeAs="String">
                <value>Ошибка сохранения правил в файл!</value>
            </setting>
            <setting name="CompositeCommandsEnterName" serializeAs="String">
                <value>Пожалуйста, укажите имя команды!</value>
            </setting>
            <setting name="CompositeCommandsEnterAction" serializeAs="String">
                <value>Пожалуйста, укажите хотя бы одно действие на выполнение!</value>
            </setting>
            <setting name="SpyPinState2" serializeAs="String">
                <value>состоянием пина</value>
            </setting>
            <setting name="ExecCompositeCommand" serializeAs="String">
                <value>выполнить составную команду</value>
            </setting>
            <setting name="SensorIndex" serializeAs="String">
                <value>Индекс датчика:</value>
            </setting>
            <setting name="SensorData" serializeAs="String">
                <value>Показания датчика:</value>
            </setting>
            <setting name="PinNumber" serializeAs="String">
                <value>Номер пина:</value>
            </setting>
            <setting name="LevelHigh" serializeAs="String">
                <value>высокий</value>
            </setting>
            <setting name="LevelLow" serializeAs="String">
                <value>низкий</value>
            </setting>
            <setting name="LevelOnPin" serializeAs="String">
                <value>Уровень на пине:</value>
            </setting>
            <setting name="CommandIndex" serializeAs="String">
                <value>Индекс команды:</value>
            </setting>
            <setting name="CommandIndexHint" serializeAs="String">
                <value>Укажите индекс составной команды из списка составных команд.</value>
            </setting>
            <setting name="IntervalHint" serializeAs="String">
                <value>Положение окна, относительно максимального времени работы моторов, с. Если указано "0" - будет взят интервал из настроек.</value>
            </setting>
            <setting name="ReservationHint" serializeAs="String">
                <value>Пожалуйста, укажите по крайней мере два датчика, которые будут резервировать друг друга!</value>
            </setting>
            <setting name="ReservationLimitHint" serializeAs="String">
                <value>Максимальное кол-во датчиков в одном списке резервирования - 10!</value>
            </setting>
            <setting name="CommandOpenWindows" serializeAs="String">
                <value>Открыть окна</value>
            </setting>
            <setting name="CommandCloseWindows" serializeAs="String">
                <value>Закрыть окна</value>
            </setting>
            <setting name="CommandPinHighLevel" serializeAs="String">
                <value>Выставить на пинах высокий уровень</value>
            </setting>
            <setting name="CommandPinLowLevel" serializeAs="String">
                <value>Выставить на пинах низкий уровень</value>
            </setting>
            <setting name="CommandComposite" serializeAs="String">
                <value>Выполнить составную команду</value>
            </setting>
            <setting name="CommandWaterOn" serializeAs="String">
                <value>Включить полив</value>
            </setting>
            <setting name="CommandWaterOff" serializeAs="String">
                <value>Выключить полив</value>
            </setting>
            <setting name="CommandLightOn" serializeAs="String">
                <value>Включить досветку</value>
            </setting>
            <setting name="CommandLightOff" serializeAs="String">
                <value>Выключить досветку</value>
            </setting>
            <setting name="CommandRulesOn" serializeAs="String">
                <value>Включить все правила</value>
            </setting>
            <setting name="CommandRulesOff" serializeAs="String">
                <value>Выключить все правила</value>
            </setting>
            <setting name="CommandAlarmRulesOn" serializeAs="String">
                <value>Включить все тревожные правила</value>
            </setting>
            <setting name="CommandAlarmRulesOff" serializeAs="String">
                <value>Выключить все тревожные правила</value>
            </setting>
            <setting name="CommandAutoMode" serializeAs="String">
                <value>Перевести контроллер в автоматический режим работы</value>
            </setting>
            <setting name="CommandEnterPinNumbers" serializeAs="String">
                <value>Введите номера пинов, через запятую!</value>
            </setting>
            <setting name="CommandEnterCompositeIndex" serializeAs="String">
                <value>Введите индекс составной команды!</value>
            </setting>
            <setting name="CommandEnterAdditionalParam" serializeAs="String">
                <value>Укажите дополнительный параметр!</value>
            </setting>
            <setting name="CommandEnterSMSText" serializeAs="String">
                <value>Укажите текст СМС!</value>
            </setting>
            <setting name="SpySoilMoisture2" serializeAs="String">
                <value>влажности почвы</value>
            </setting>
            <setting name="SurePinRule" serializeAs="String">
                <value>Вы действительно хотите управлять этими пинами?'</value>
            </setting>
            <setting name="ChangePinState" serializeAs="String">
                <value>Сменить статус пина?</value>
            </setting>
            <setting name="ReservationLimitHint2" serializeAs="String">
                <value>Максимальное кол-во записей резервирования - 10!</value>
            </setting>
            <setting name="UniCal" serializeAs="String">
                <value>Фактор калибровки датчика, зависит от его типа.</value>
            </setting>
            <setting name="UniInterval" serializeAs="String">
                <value>Интервал обновления показаний датчиков универсального модуля.</value>
            </setting>
            <setting name="UniTransiever" serializeAs="String">
                <value>Включить/выключить радиопередатчик универсального модуля.</value>
            </setting>
            <setting name="UniAddHint" serializeAs="String">
                <value> Значение индекса меняется только в пределах интервала индексов ранее зарегистрированных универсальных модулей.</value>
            </setting>
            <setting name="UniHumidityIdx" serializeAs="String">
                <value>Индекс датчика влажности универсального модуля.</value>
            </setting>
            <setting name="UniLuminosityIdx" serializeAs="String">
                <value>Индекс датчик освещённости универсального модуля.</value>
            </setting>
            <setting name="UniSoilIdx" serializeAs="String">
                <value>Индекс датчика влажности почвы универсального модуля.</value>
            </setting>
            <setting name="UniTempIdx" serializeAs="String">
                <value>Индекс датчика температуры универсального модуля.</value>
            </setting>
            <setting name="UniPhIdx" serializeAs="String">
                <value>Индекс датчика pH универсального модуля.</value>
            </setting>
            <setting name="SoilMoisture" serializeAs="String">
                <value>влажность почвы</value>
            </setting>
            <setting name="SensorNum" serializeAs="String">
                <value>датчик #</value>
            </setting>
            <setting name="OfModule" serializeAs="String">
                <value> модуля </value>
            </setting>
            <setting name="OfTemp" serializeAs="String">
                <value>температур</value>
            </setting>
            <setting name="OfHumidity" serializeAs="String">
                <value>влажности</value>
            </setting>
            <setting name="OfLuminosity" serializeAs="String">
                <value>освещенности</value>
            </setting>
            <setting name="OfSoilMoisture" serializeAs="String">
                <value>влажности почвы</value>
            </setting>
            <setting name="SensorTemperature" serializeAs="String">
                <value>Датчик температуры</value>
            </setting>
            <setting name="SensorHumTemperature" serializeAs="String">
                <value>Датчик влажности, температура</value>
            </setting>
            <setting name="SensorLuminosity" serializeAs="String">
                <value>Датчик освещённости</value>
            </setting>
            <setting name="SensorHumidity" serializeAs="String">
                <value>Датчик влажности, влажность</value>
            </setting>
            <setting name="SensorSoil" serializeAs="String">
                <value>Датчик влажности почвы</value>
            </setting>
            <setting name="SensorPH" serializeAs="String">
                <value>Датчик pH</value>
            </setting>
            <setting name="CompositeExecuting" serializeAs="String">
                <value>выполняем составную команду</value>
            </setting>
            <setting name="TemperatureModule" serializeAs="String">
                <value>Модуль температур</value>
            </setting>
            <setting name="HumidityModule2" serializeAs="String">
                <value>Модуль влажности</value>
            </setting>
            <setting name="NoLink" serializeAs="String">
                <value>Нет привязки</value>
            </setting>
            <setting name="LinkLeftWindowChannel" serializeAs="String">
                <value>Левый канал окна</value>
            </setting>
            <setting name="LinkRightWindowChannel" serializeAs="String">
                <value>Правый канал окна</value>
            </setting>
            <setting name="LinkWaterChannel" serializeAs="String">
                <value>Канал полива</value>
            </setting>
            <setting name="LinkLightChannel" serializeAs="String">
                <value>Канал досветки</value>
            </setting>
            <setting name="LinkPinNumber" serializeAs="String">
                <value>Номер пина</value>
            </setting>
            <setting name="Widget1" serializeAs="String">
                <value>Свободная память контроллера</value>
            </setting>
            <setting name="Widget2" serializeAs="String">
                <value>Время работы контроллера</value>
            </setting>
            <setting name="Widget3" serializeAs="String">
                <value>Дата и время контроллера</value>
            </setting>
            <setting name="Widget4" serializeAs="String">
                <value>Температура контроллера</value>
            </setting>
            <setting name="Widget5" serializeAs="String">
                <value>Температура внутри(датчик)</value>
            </setting>
            <setting name="Widget6" serializeAs="String">
                <value>Температура снаружи (датчик)</value>
            </setting>
            <setting name="Widget7" serializeAs="String">
                <value>Управление всеми окнами одновременно</value>
            </setting>
            <setting name="Widget8" serializeAs="String">
                <value>Управление режимом работы окон</value>
            </setting>
            <setting name="Widget9" serializeAs="String">
                <value>Управление отдельными окнами</value>
            </setting>
            <setting name="Widget10" serializeAs="String">
                <value>Показания температурных датчиков</value>
            </setting>
            <setting name="Widget11" serializeAs="String">
                <value>Показания датчиков влажности</value>
            </setting>
            <setting name="Widget12" serializeAs="String">
                <value>Показания датчиков освещённости</value>
            </setting>
            <setting name="Widget13" serializeAs="String">
                <value>Показания датчиков влажности почвы</value>
            </setting>
            <setting name="Widget14" serializeAs="String">
                <value>Показания датчиков pH</value>
            </setting>
            <setting name="Widget15" serializeAs="String">
                <value>Управление каналами полива</value>
            </setting>
            <setting name="WindowOpenStatus" serializeAs="String">
                <value>открыто</value>
            </setting>
            <setting name="WindowClosedStatus" serializeAs="String">
                <value>закрыто</value>
            </setting>
            <setting name="WindowOpeningStatus" serializeAs="String">
                <value>открывается</value>
            </setting>
            <setting name="WindowClosingStatus" serializeAs="String">
                <value>закрывается</value>
            </setting>
            <setting name="SensorHumidityType" serializeAs="String">
                <value>Датчик влажности</value>
            </setting>
            <setting name="WantRestart" serializeAs="String">
                <value>Для смены языка интерфейса требуется перезапуск программы. Продолжить?</value>
            </setting>
            <setting name="PredefinedTemp1" serializeAs="String">
                <value>Помидоры</value>
            </setting>
            <setting name="PredefinedTemp2" serializeAs="String">
                <value>Огурцы</value>
            </setting>
            <setting name="PredefinedTemp3" serializeAs="String">
                <value>Редис</value>
            </setting>
            <setting name="ConfirmLoadTopics" serializeAs="String">
                <value>При загрузке топиков из контроллера 
все текущие будут удалены. Продолжить?</value>
            </setting>
            <setting name="TopicsGetOk" serializeAs="String">
                <value>Топики успешно загружены из контроллера!</value>
            </setting>
            <setting name="ErrorGetTopics" serializeAs="String">
                <value>Ошибка загрузки топиков из контроллера!</value>
            </setting>
            <setting name="PHModule" serializeAs="String">
                <value>Модуль PH</value>
            </setting>
            <setting name="TopicEnterName" serializeAs="String">
                <value>Пожалуйста, укажите имя топика!</value>
            </setting>
            <setting name="StatusOfWatering" serializeAs="String">
                <value>Статус полива</value>
            </setting>
            <setting name="StatusOfLight" serializeAs="String">
                <value>Статус досветки</value>
            </setting>
            <setting name="StatusOfWindowsMode" serializeAs="String">
                <value>Режим работы окон</value>
            </setting>
            <setting name="StatusOfWateringMode" serializeAs="String">
                <value>Режим работы полива</value>
            </setting>
            <setting name="StatusOfLightMode" serializeAs="String">
                <value>Режим работы досветки</value>
            </setting>
            <setting name="RequestWiFiData" serializeAs="String">
                <value>Опрашиваем ESP, подождите...</value>
            </setting>
            <setting name="WiFiMACFormat" serializeAs="String">
                <value>MAC-адрес станции: {0}
MAC-адрес точки доступа: {1}</value>
            </setting>
            <setting name="AskWIFIMACCaption" serializeAs="String">
                <value>MAC-адреса ESP</value>
            </setting>
            <setting name="RequestWiFiPING" serializeAs="String">
                <value>Пингуем google.com, подождите...</value>
            </setting>
            <setting name="AskWIFIPINGCaption" serializeAs="String">
                <value>Результаты пинга</value>
            </setting>
            <setting name="WiFiPingOK" serializeAs="String">
                <value>Сервер google.com успешно ответил на пинг.</value>
            </setting>
            <setting name="WiFiPingERROR" serializeAs="String">
                <value>Сервер google.com недоступен!</value>
            </setting>
            <setting name="WaterflowModule" serializeAs="String">
                <value>Модуль расхода воды</value>
            </setting>
            <setting name="SceneRunning" serializeAs="String">
                <value>Сцена запущена!</value>
            </setting>
            <setting name="SceneStopped" serializeAs="String">
                <value>Сцена остановлена.</value>
            </setting>
            <setting name="WateringSkipped" serializeAs="String">
                <value>Полив на сегодня пропущен.</value>
            </setting>
            <setting name="ExecScene" serializeAs="String">
                <value>запустить сценарий</value>
            </setting>
            <setting name="StopScene" serializeAs="String">
                <value>остановить сценарий</value>
            </setting>
            <setting name="SceneIndex" serializeAs="String">
                <value>Номер сценария:</value>
            </setting>
            <setting name="SceneIndexHint" serializeAs="String">
                <value>Номер сценария на выполнение, начиная с 0.</value>
            </setting>
            <setting name="SceneExecuting" serializeAs="String">
                <value>выполняем сценарий</value>
            </setting>
            <setting name="SceneStopping" serializeAs="String">
                <value>останавливаем сценарий</value>
            </setting>
            <setting name="ResetUniDone" serializeAs="String">
                <value>Индексы датчиков универсальных модулей сброшены. Необходимо перезагрузить контроллер, чтобы изменения вступили в силу.</value>
            </setting>
            <setting name="StatusOfPin" serializeAs="String">
                <value>Состояние пина</value>
            </setting>
            <setting name="SensorPinsMap" serializeAs="String">
                <value>Карта пинов</value>
            </setting>
            <setting name="UniPinsMapIdx" serializeAs="String">
                <value>Индекс карты пинов универсального модуля.</value>
            </setting>
            <setting name="MCP23S17On" serializeAs="String">
                <value>включить канал MCP23S17</value>
            </setting>
            <setting name="MCP23S17Off" serializeAs="String">
                <value>выключить канал MCP23S17</value>
            </setting>
            <setting name="MCPIndex" serializeAs="String">
                <value>Индекс микросхемы:</value>
            </setting>
            <setting name="MCPIndexHint" serializeAs="String">
                <value>Индекс микросхемы MCP23S17 (начиная с 0)</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>Положение окна,секунд (относительно максимального):</value>
            </setting>
            <setting name="MCPChannel" serializeAs="String">
                <value>Номер канала микросхемы:</value>
            </setting>
            <setting name="MCPChannelHint" serializeAs="String">
                <value>Номер канала микросхемы MCP23S17, в который пойдёт запись.</value>
            </setting>
            <setting name="MCPSwitchOn" serializeAs="String">
                <value>включить канал MCP23S17</value>
            </setting>
            <setting name="MCPSwitchOff" serializeAs="String">
                <value>выключить канал MCP23S17</value>
            </setting>
            <setting name="Widget16" serializeAs="String">
                <value>Показания CO2</value>
            </setting>
            <setting name="StatusOfWindSpeed" serializeAs="String">
                <value>Скорость ветра</value>
            </setting>
            <setting name="StatusOfWindDir" serializeAs="String">
                <value>Направление ветра</value>
            </setting>
            <setting name="StatusOfRain" serializeAs="String">
                <value>Флаг наличия дождя</value>
            </setting>
            <setting name="CO2Module" serializeAs="String">
                <value>Модуль CO2</value>
            </setting>
            <setting name="ZeroModule" serializeAs="String">
                <value>Температура системы</value>
            </setting>
            <setting name="SpySystemTemp" serializeAs="String">
                <value>температурой системы</value>
            </setting>
            <setting name="Widget17" serializeAs="String">
                <value>Показания EC</value>
            </setting>
            <setting name="SensorCO2" serializeAs="String">
                <value>Датчик CO2</value>
            </setting>
            <setting name="SensorEC" serializeAs="String">
                <value>Датчик EC</value>
            </setting>
            <setting name="I2CSwitchOn" serializeAs="String">
                <value>включить канал MCP23017</value>
            </setting>
            <setting name="MCP23017On" serializeAs="String">
                <value>включить канал MCP23017</value>
            </setting>
            <setting name="I2CSwitchOff" serializeAs="String">
                <value>выключить канал MCP23017</value>
            </setting>
            <setting name="MCP23017Off" serializeAs="String">
                <value>выключить канал MCP23017</value>
            </setting>
            <setting name="PCFSwitchOn" serializeAs="String">
                <value>включить канал PCF8575</value>
            </setting>
            <setting name="PCF8575On" serializeAs="String">
                <value>включить канал PCF8575</value>
            </setting>
            <setting name="PCFSwitchOff" serializeAs="String">
                <value>выключить канал PCF8575</value>
            </setting>
            <setting name="PCF8575Off" serializeAs="String">
                <value>выключить канал PCF8575</value>
            </setting>
            <setting name="PCFIndex" serializeAs="String">
                <value>Индекс микросхемы:</value>
            </setting>
        </GreenHouseConfig.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GreenHouseConfig.Properties.Settings>
            <setting name="StatusOfWindow" serializeAs="String">
                <value>Статус окон</value>
            </setting>
            <setting name="PCFIndexHint" serializeAs="String">
                <value>Индекс микросхемы PCF8575 (начиная с 0)</value>
            </setting>
            <setting name="I2CIndexHint" serializeAs="String">
                <value>Индекс микросхемы MCP23017 (начиная с 0)</value>
            </setting>
            <setting name="I2CIndex" serializeAs="String">
                <value>Индекс микросхемы:</value>
            </setting>
        </GreenHouseConfig.Properties.Settings>
    </userSettings>
</configuration>