html,body {margin:0 auto;padding:0;}
body {width:800px; background-image: url(images/caret.jpg);}
/*
HTML,BODY {width:800px;}
BODY  {
          font-family: Arial; width:100%; margin-left:auto; margin-right:auto;
          border-width: thick;
          background-image: url(images/caret.jpg);
}
*/
BODY {font-family: Arial; }
TABLE {font-family: Arial; font-size: 90%;}

.book {  
    width: 800px;
    background-color: yellow;
    -webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:2;  
}

.hd1
{    font-family: Arial; font-weight: 500; font-style: italic; font-size: 110%; color: green;}
.td1
{    font-family: Arial; font-weight: 700; font-size: 110%; color: #BF3F3F;}
.td2
{    font-family: Arial; font-size: 90%;}
.td3
{    font-family: Arial; font-weight: 700; font-size: 120%; color: #2FCF9F;}
.th
{    font-family: Arial; font-size: 1pt; background-color=#FF8080;}
.srccodes
{    font-family: courier; font-size: 90%; color=#0000FF;}
