BODY  {font-family: Arial;}
TABLE {font-family: Arial; font-size: 90%;}
.hd1       {font-family: Arial; font-weight: 500; font-style: italic; font-size: 110%; color: green;}
.td1       {font-family: Arial; font-weight: 700; font-size: 110%; color: #BF3F3F;}
.td2       {font-family: Arial; font-size: 90%;}
.td3       {font-family: Arial; font-weight: 700; font-size: 120%; color: #2FCF9F;}
.th        {font-family: Arial; font-size: 1pt; background-color=#FF8080;}
.srccodes  {font-family: courier; font-size: 90%; color=#0000FF;}
.b150	   {font-family: Arial; font-size: 150%;}
.b200	   {font-family: Arial; font-size: 200%;}
.b250	   {font-family: Arial; font-size: 250%;}
.gray150   {font-family: Arial; font-size: 150%; color=#7F7F7F;}
.gray150b  {font-family: Arial; font-weight: 700; font-size: 150%; color=#7F7F7F;}
.gray200   {font-family: Arial; font-size: 200%; color=#7F7F7F;}
.gray200b  {font-family: Arial; font-weight: 700; font-size: 200%; color=#7F7F7F;}
.i100	   {font-family: Arial; font-size: 100%; font-style: italic;}
.i150	   {font-family: Arial; font-size: 150%; font-style: italic;}
.i200	   {font-family: Arial; font-size: 200%; font-style: italic;}
.i250	   {font-family: Arial; font-size: 250%; font-style: italic;}
.small2    {font-family: Arial; font-size: 3px; color=#0000FF;}
.big2      {font-family: Arial; font-size: 10mm; color=#FF0000;}

